.margin-bottom-m {
  margin-bottom: 2.4rem;
}

.margin-bottom-s {
  margin-bottom: 1.6rem;
}

.margin-bottom-l {
  margin-bottom: 3.2rem;
}

.margin-bottom-xl {
  margin-bottom: 10rem;
}

.margin-top{
  margin-top: 3rem;
}

.flex{
  display: flex;
}